-e git+https://github.com/StackMonkey/utter-libs.git#egg=utter-libs==master
IPy
gevent
gunicorn
Werkzeug
flask
flask-wtf
flask-appconfig
flask-login
flask-openid
flask-sqlalchemy
flask-actions
flask-bcrypt
flask-seasurf
flask-socketio
python-keystoneclient
python-glanceclient
python-cinderclient
python-novaclient
PyYAML
