{% extends "base.html" %}

{% block page_styles %}
    <!-- Home Page -->
    <link href="/css/login.css" rel="stylesheet">
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.0-beta0/mapbox.css' rel='stylesheet'>
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <img class="profile-img" src="/img/photo.png?sz=120" alt="">
                <form action="." method="post" class="form-signin">
                    {{ form.csrf_token }}
                	{{ form.username(class="form-control", placeholder="Username", autofocus=true, required=true) }}
                	{{ form.password(class="form-control form-password-again", placeholder="Password", required=true) }}
                	{{ form.conf_password(class="form-control form-password", placeholder="Password Again", required=true) }}
                	{% if form.username.errors %}
                        <ul class="errors">{% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                	{% if form.password.errors %}
                        <span class="errors">{% for error in form.password.errors %}{{ error }}{% endfor %}</span>
                    {% endif %}
                    <button class="btn btn-lg btn-warning btn-block" type="submit">Create Admin Account</button>
                    <a href="{{ config['APP_WEBSITE'] }}/provider" class="pull-right need-help">Need a provider account?</a><span class="clearfix"></span>
                </form>
            </div>
        </div>
    </div>
</div>
<div id='map'></div>
{% endblock %}

{% block javascript %}
	// login button
	$('#nav-login').on('click', function(e) { window.location = "/login" });
	$('#get-started').on('click', function(e) { window.location = "/getstarted" });
	var themap = L.mapbox.map('map', 'kordless.gnm28jg1', {scrollWheelZoom: false, zoomControl: false}).setView([20, 20], 3);
    setInterval(function(){themap.panBy([-1, 0]);},3000);
{% endblock %}

{% block extras %}
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.0-beta0/mapbox.js'></script>
{% endblock %}
