{% extends "base.html" %}

{% block page_styles %}
    <!-- Home Page -->
    <link href="/css/login.css" rel="stylesheet">
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.0-beta0/mapbox.css' rel='stylesheet'>
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden register modal -->
<div id="login-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{{ url_for("users.register") }}" method="post" class="form-signin">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Create an Administrator Account</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          {{ form.csrf_token }}
          <div class="row form-group {% if form.username.errors %}has-error{% endif %}">
            <div class="col-md-12">
              {{ form.username.label(class="control-label") }}
              {{ form.username(class="form-control", placeholder="Username", autofocus=true, required=true) }}
            </div>
          </div>
          <div class="row form-group {% if form.password.errors %}has-error{% endif %}">
            <div class="col-md-12">
              {{ form.password.label(class="control-label") }}
              {{ form.password(class="form-control form-password-again", placeholder="Password", required=true) }}
            </div>
          </div>
          <div class="row form-group {% if form.conf_password.errors %}has-error{% endif %}">
            <div class="col-md-12">
              {{ form.conf_password.label(class="control-label") }}
              {{ form.conf_password(class="form-control form-password-again", placeholder="Password Again", required=true) }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="instance-close-button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-danger" type="submit">Create Admin Account</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id='map'></div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    $().ready(function() {

	   // sign in button
	   $('#nav-login').on('click', function(e) { window.location = "/login" });
     
     // login modal show
     $('#login-modal').modal('show');
     
     // reopen login if they try to dismiss
     $('#login-modal').on('hidden.bs.modal', function () {
      $('#login-modal').modal('show');
     });

     // the map
	   var themap = L.mapbox.map('map', 'xovio.h1o6ii64', {scrollWheelZoom: false, zoomControl: false}).setView([20, 20], 3);
        setInterval(function(){themap.panBy([-1, 0]);},3000);
    });
    </script>
{% endblock %}

{% block extras %}
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.0-beta0/mapbox.js'></script>
{% endblock %}
