  <footer>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <div class='row'>
            <div class='col-md-3'>
              <h4>Product</h4>
              <ul class='unstyled'>
                <li>
                  <a href='{{ config['APP_WEBSITE'] }}/features/'>Features</a>
                </li>
                <li>
                  <a href='{{ config['APP_WEBSITE'] }}/pricing/'>Pricing</a>
                </li>
                <li>
                  <a href='{{ config['APP_WEBSITE'] }}/login/'>Register</a>
                </li>
              </ul>
            </div>
            <div class='col-md-3'>
              <h4>Learn More</h4>
              <ul class='unstyled'>
                <li>
                  <a href='{{ config['APP_WEBSITE'] }}/blog/'>Blog</a>
                </li>
                <li>
                  <a href='{{ config['APP_WEBSITE'] }}/about/'>About</a>
                </li>
                <li>
                  <a href='{{ config['APP_WEBSITE'] }}/privacy/'>Privacy Policy</a>
                </li>
                <li>
                  <a href='{{ config['APP_WEBSITE'] }}/terms/'>Terms of Use</a>
                </li>
              </ul>
            </div>
            <div class='col-md-3'>
              <h4>Help</h4>
              <ul class='unstyled'>
                <li>
                  <a href='{{ config['APP_WEBSITE'] }}/about/#contact'>Contact Us</a>
                </li>
                <li>
                  <a href='{{ config['APP_WEBSITE'] }}/docs/'>Documentation</a>
                </li>
                <li>
                  <a href='{{ config['APP_WEBSITE'] }}/support/'>Support</a>
                </li>
                <li>
                  <a href="https://github.com/stackmonkey/">Code</a>
                </li>
              </ul>
            </div>
            <div class='col-md-3'>
              <h4>Follow</h4>
              <ul class='unstyled' id='elsewhere-icons'>
                <li>
                  <a class="twitter" href="https://twitter.com/{{ config['POOL_TWITTER_HANDLE'] }}" title="Tweet @{{ config['POOL_NAME'] }} on Twitter">Twitter</a>
                  <a class="googleplus" href="https://plus.google.com/{{ config['POOL_GPLUS_HANDLE'] }}" title="Hangout with {{ app_name }} on Google+">Google Plus</a>
                  <a class="github" href="https://www.github.com/stackmonkey/" title="View code on Github.">Github</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='footer-floor'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-12'>
            <div id='copyright'>
              <p>&copy; 2014 StackGeek, Inc. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>