{% extends "base.html" %}

{% block page_styles %}
    <!-- Home Page -->
    <link href="/css/index.css" rel="stylesheet">
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
  <div class="splash-container">
    <h1>Join the Decentralized Cloud</h1>
    <div>
      <button id="get-started-button" class="btn btn-lg btn-success">Get Started</button>
      <button id="learn-more-button" class="btn btn-lg btn-warning">Learn More</button>
    </div>
    <div class="splash-instructions">
      Don't have a provider account? Signup at <a href="{{ config['APP_WEBSITE'] }}/login">{{ config['POOL_NAME'] }}</a>.
    </div>
  </div>

  <div id="map"></div>

  <!--container-->
  <div class="container">
    
    <!--marketing-->
    <div class="marketing">  
      <!--row-->
      <div class="row drivel">
        <div class="col-md-4">
          <h3><span class="glyphicon glyphicon-time"></span> Configure in Minutes</h3>
          <p>Welcome to the {{ config['POOL_NAME'] }} virtual appliance! Start configuring your appliance by clicking on the <strong>'get started'</strong> button.  Configuration takes <a href="">about 10 minutes</a>!  If you need help with configuration, please see the docs on {{ config['POOL_NAME'] }}!</p>
          <a href="/login" class="btn btn-success btn-lg" role="button">Get Started</a>
        </div>
        <div class="col-md-4">
          <h3><span class="glyphicon glyphicon-qrcode"></span> 100% Open Source</h3>
          <p>Everything you see here is Open Source and free to use by anyone, anywhere, at any time. The Bitcoin methodology teaches high decentralization and trust of all components, including infrastructure hardware and software.</p>  
          <a href="https://github.com/stackmonkey/xovio-pool" class="btn btn-info btn-lg" role="button">Run a Pool</a>
        </div>  
        <div class="col-md-4">
          <h3><span class="glyphicon glyphicon-tasks"></span> Powered by OpenStack</h3>
          <p>The <a href="http://openstack.org">OpenStack Open Source project</a> provides the cloud controller fabric for the xovio pools and can run on anything from a single desktop computer to an entire datacenter. You can install more than one appliance across multiple OpenStack clusters!</p>
          <a href="http://openstack.org/" class="btn btn-warning btn-lg" role="button">Learn More</a>
        </div>
      </div>
      <!--/row-->
    </div>
  </div>

{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $().ready(function() {
    	// login button
    	$('#nav-login').on('click', function(e) { 
        window.location = "/login" 
      });
    	$('#get-started-button').on('click', function(e) { 
        window.location = "/login" 
      });
    	
      // the map!
      var themap = L.mapbox.map('map', 'kordless.gnm28jg1', {scrollWheelZoom: false, zoomControl: false}).setView([20, 20], 3);
      setInterval(function(){themap.panBy([-1, 0]);},3000);
    });
  </script>
{% endblock %}

{% block extras %}
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.0-beta0/mapbox.js'></script>
{% endblock %}

