{% extends "base.html" %}

{% block page_styles %}
    <!-- Home Page -->
    <link href="/css/index.css" rel="stylesheet">
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
  <!--floating stuff-->
  <div class="splash-container">
    <h1>Help Decentralize the Cloud</h1>
    <div>
      <button id="get-started-button" class="btn btn-lg btn-success">Start Configuring the Appliance</button>
      <button id="learn-more-button" class="btn btn-lg btn-warning">Learn More About {{ config['POOL_NAME'] }}™</button>
    </div>
    <div class="splash-instructions">
      Don't have a provider account? Signup at <a href="{{ config['APP_WEBSITE'] }}/login">{{ config['POOL_NAME'] }}</a>.
    </div>
  </div>
  <!--/floating stuff-->

  <!--top billboard-->
  <div id="billboard"></div>
  <!--/top billboard-->
  
  <!--container-->
  <div class="container">
    
    <!--marketing-->
    <div class="marketing">  
      <!--row-->
      <div class="row drivel">
        <div class="col-md-4">
          <h3><span class="glyphicon glyphicon-time"></span> Configure in Minutes</h3>
          <p>Welcome to the {{ config['POOL_NAME'] }} virtual appliance! Start configuring your appliance by clicking on the get started button.  Configuration takes <a href="{{ config['APP_WEBSITE'] }}/appliances/new/">about 10 minutes</a>!  If you need help with configuration, please see the <a href="{{ config['APP_WEBSITE'] }}/docs/">documentation</a>!</p>
          <a href="/login" class="btn btn-success btn-lg" role="button">Get Started Now!</a>
        </div>
        <div class="col-md-4">
          <h3><span class="glyphicon glyphicon-qrcode"></span> 100% Open Source</h3>
          <p>Everything you see here is <a href="https://github.com/stackmonkey/">Open Source</a> and free to use by anyone, anywhere, at any time. The Bitcoin methodology teaches high decentralization and trust of all components, including infrastructure hardware and software.</p>  
          <a href="https://github.com/stackmonkey/utter-pool" class="btn btn-info btn-lg" role="button">Run Your Own Pool</a>
        </div>  
        <div class="col-md-4">
          <h3><span class="glyphicon glyphicon-tasks"></span> Powered by OpenStack</h3>
          <p>The <a href="http://openstack.org">OpenStack Project</a> provides the cloud controller fabric for the {{ config['POOL_NAME'] }} compute pool.  OpenStack can run on anything from a single desktop computer to an entire datacenter.  Get started by installing OpenStack today!</p>
          <a href="http://openstack.org/" class="btn btn-warning btn-lg" role="button">Install OpenStack</a>
        </div>
      </div>
      <!--/row-->
    </div>
  </div>

{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $().ready(function() {
      // login button
      $('#nav-login').click(function() { 
        window.location = "/login" 
      });
      $('#get-started-button').click(function() {
        window.location = "/login" 
      });
      $('#learn-more-button').click(function() {
        window.location = "{{ config['APP_WEBSITE'] }}/docs/#becoming-a-provider"
      });
    });
  </script>
{% endblock %}

{% block extras %}
{% endblock %}

