{% macro nav_pills(active, settings) %}
<!-- nav pills -->
<div class="col-md-2">
  <ul class="nav nav-pills nav-stacked">
    <li {% if active=="status" %}class="active"{% endif %}>
      <a href="#">
        Status
      </a>
    </li>
    <li {% if active=="appliance" %}class="active"{% endif %}>
      <a href="{{ url_for('configure.configure') }}">
        Appliance
        {% if settings['token'] == False or settings['coinbase'] == False or settings['ngrok'] == False %}
          <span id="appliance-settings" class="glyphicon glyphicon-exclamation-sign"></span>
        {% endif %}
      </a>
    </li>
    <li {% if active=="openstack" %}class="active"{% endif %}>
      <a href="{{ url_for('configure.configure_openstack') }}">
        OpenStack
        {% if settings['openstack'] == False %}
          <span id="openstack-settings"class="glyphicon glyphicon-exclamation-sign"></span>
        {% endif %}
      </a>
    </li>
    <li {% if active=="systems" %}class="active"{% endif %}>
      <a href="{{ url_for('configure.configure_flavors') }}">
        Flavors & Rates
        <span id="flavors-settings"class="glyphicon glyphicon-exclamation-sign{% if settings['flavors'] == True %}hidden{% endif %}"></span>
      </a>
    </li>
    <li {% if active=="images" %}class="active"{% endif %}>
      <a href="{{ url_for('configure.configure_images') }}">
        System Images
      </a>
    </li>
    <li {% if active=="addresses" %}class="active"{% endif %}>
      <a href="{{ url_for('configure.configure_addresses') }}">
        Bitcoin Addresses
      </a>
    </li>
    <li {% if active=="instances" %}class="active"{% endif %}>
      <a href="{{ url_for('configure.configure_instances') }}">
        Instances
      </a>
    </li>
  </ul>
</div>
<!-- end navpills -->
{% endmacro %}