{% macro nav_pills(active, settings) %}
<!-- nav pills -->
<div class="col-md-2">
  <ul class="nav nav-pills nav-stacked">
    <li {% if active=="appliance" %}class="active"{% endif %}>
      <a href="{{ url_for('configure.configure') }}">
        Appliance
        {% if settings['token'] == False or settings['coinbase'] == False or settings['ngrok'] == False %}
          <span id="appliance-settings" class="glyphicon glyphicon-exclamation-sign"></span>
        {% endif %}
      </a>
    </li>
    <li {% if active=="openstack" %}class="active"{% endif %}>
      <a href="{{ url_for('configure.configure_openstack') }}">
        OpenStack
        {% if settings['openstack'] == False %}
          <span id="openstack-settings"class="glyphicon glyphicon-exclamation-sign"></span>
        {% endif %}
      </a>
    </li>
    <li {% if active=="systems" %}class="active"{% endif %}>
      <a href="{{ url_for('configure.configure_flavors') }}">
        Flavors & Ask Prices
        <span id="flavors-settings"class="glyphicon glyphicon-exclamation-sign{% if settings['flavors'] == True %}hidden{% endif %}"></span>
      </a>
    </li>
    <li {% if active=="images" %}class="active"{% endif %}>
      <a href="{{ url_for('configure.configure_images') }}">
        System Images
      </a>
    </li>
    <li {% if active=="addresses" %}class="active"{% endif %}>
      <a href="{{ url_for('configure.configure_addresses') }}">
        Bitcoin Addresses
      </a>
    </li>
    <li {% if active=="instances" %}class="active"{% endif %}>
      <a href="{{ url_for('configure.configure_instances') }}">
        Instances
      </a>
    </li>
    <li {% if active=="twitter" %}class="active"{% endif %}>
      <a href="{{ url_for('configure.configure_twitter') }}">
        Marketing Bot
      </a>
    </li>
  </ul>
</div>
<!-- end navpills -->
{% endmacro %}

{% macro instance_state_icon(state) %}
    {% if state==0 %}
      <span class="label label-danger btn-lg instance-state">Inactive</span>
    {% endif %}
    {% if state==1 %}
      <span class="label label-warning btn-lg instance-state">Waiting on Payment</span>
    {% endif %}
    {% if state==2 %}
      <span class="label label-info btn-lg instance-state">Payment Received</span>
    {% endif %}
    {% if state==3 %}
      <span class="label label-success btn-lg instance-state">Starting</span>
    {% endif %}
    {% if state==4 %}
      <span class="label label-success btn-lg instance-state">Running</span>
    {% endif %}
    {% if state==5 %}
      <span class="label label-warning btn-lg instance-state">Suspended</span>
    {% endif %}
    {% if state==6 %}
      <span class="label label-info btn-lg instance-state">Unsupended</span>
    {% endif %}
    {% if state==7 %}
      <span class="label label-danger btn-lg instance-state">Decommissioned</span>
    {% endif %}
    {% if state==10 %}
      <span class="label label-info btn-lg instance-state">Reserved</span>
    {% endif %}
{% endmacro %}