{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_styles %}
    <!-- Config Page -->
    <link href="/css/configure.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    {{ macros.nav_pills("addresses", settings) }}
    <!-- form on right side -->
    <div class="col-md-10">
      <!-- form header -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Appliance Addresses</small></h2>
            <p>The following Coinbase Bitcoin addresses are being used by this appliance. The Bitcoin <strong>address links</strong> may be used to <strong>view payment transactions</strong>. When instances are attached to a Bitcoin address, you may click on their id to view instance details.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>State</th>
                <th>Bicoin Address</th>
                <th>SSL Subdomain</th>
                <th>Instance</th>
              </tr>
            </thead>
            <tbody>
              {% for address in addresses %}
              <tr>
                <td>{% if address.instance %}<span title="Bitcoin address linked to instance." class="glyphicon glyphicon-transfer"></span>{% else %}<span title="Bitcoin address is idle." class="glyphicon glyphicon-pause"></span>{% endif %}</td>
                <td><a href="https://blockchain.info/address/{{ address.address }}" target="_blank">{{ address.address }}</a></td>
                <td>{{ address.subdomain }}</td>
                {% if address.instance > 0 %}
                <td><a href="/configure/instances/{{ address.instance }}">{{ address.instance.name }}</a></td>
                {% else %}
                <td><span title="Bitcoin address is idle." class="glyphicon glyphicon glyphicon-ban-circle"></span></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- end right side -->
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    var csrf_token = "{{ csrf_token() }}";

  });
</script>
{% endblock %}

{% block extras %}
{% endblock %}
