{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_styles %}
    <link href="/css/configure.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    {{ macros.nav_pills("addresses", settings) }}
    <!-- form on right side -->
    <div class="col-md-9">
      <!-- form header -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Appliance Addresses</small></h2>
            <div class="bs-callout bs-callout-info bs-callout-top">
              <h4>Appliance Addresses</h4>
              <p><strong>Addresses</strong> are <strong>Bitcon Destinations</strong> which are managed by a <strong>Coinbase Account</strong> tied to this <strong>Appliance</strong>. This appliance advertises payment addresses via <strong>Instance Asks</strong> on the <strong>Pool Operator</strong>'s site.</p>
              <p>The <strong>Bitcoin Address</strong> links may be used to <strong>view payment transactions</strong>. When instances are attached to a Bitcoin address, you may click on the <strong>Instance ID</strong> to view instance details.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>State</th>
                <th>Bicoin Address</th>
                <th>SSL Subdomain</th>
                <th>Instance</th>
              </tr>
            </thead>
            <tbody>
              {% for address in addresses %}
              <tr>
                <td>{% if address.instance %}<span title="Bitcoin address linked to instance." class="glyphicon glyphicon-link"></span>{% else %}&nbsp;{% endif %}</td>
                <td><a href="https://blockchain.info/address/{{ address.address }}" target="_blank">{{ address.address }}</a></td>
                <td>{{ address.subdomain }}</td>
                {% if address.instance > 0 %}
                <td><a href="/configure/instances/{{ address.instance.id }}">{{ address.instance.name }}</a></td>
                {% else %}
                <td>None</span></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- end right side -->
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    var csrf_token = "{{ csrf_token() }}";

  });
</script>
{% endblock %}

{% block extras %}
{% endblock %}
