{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_styles %}
    <link href="/css/configure.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    {{ macros.nav_pills("appliance", settings) }}
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Appliance Configuration</small></h2>
            <div class="bs-callout bs-callout-info bs-callout-top">
              <h4>Getting Started</h4>
              <p>Fill out the following form to configure your appliance. This appliance needs to have a <strong>Regsitered API Pool Token</strong>, a valid <strong><a href="https://coinbase.com/signup?r=52a9c6bf937ab6453a00001e&utm_campaign=user-referral&src=referral-link" target="_blank">Coinbase API Key and Secret</a></strong> and an <strong><a href="https://ngrok.com/">Ngrok API Token</a></strong> before it will function. Toggle visibility of the Coinbase API Secret with the <span class="glyphicon glyphicon-eye-open"></span> icon.  Signup for an Ngrok account by clicking on the <span class="glyphicon glyphicon-cog"></span> icon.</p>
              <p>Set the map to the approximate location of your <strong>OpenStack Cluster</strong> so users can request instances by <strong>Geolocation</strong>.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <form action="{{ url_for("configure.configure") }}" method="post" class="form-horizontal" role="form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ form.csrf_token }}

            <div class="row form-group">
              <div class="col-md-8">
                {{ form.apitoken.label(class="control-label") }}
                <div class="input-group" id="hover-api-token">
                  {{ form.apitoken(value=appliance.apitoken, class="form-control", disabled=true, id="api-token") }}
                  <span class="input-group-btn">
                    <button id="refresh-api-token" class="btn btn-default" type="button">
                      <span title="Refresh token." class="glyphicon glyphicon-refresh"></span>
                    </button>
                  </span>
                </div>
              </div>
              <div class="col-md-2 field-register">
                <button id="button-api-token" class="btn" type="button"><span id="button-api-token-icon" class="glyphicon"></span> <span id="button-api-token-text">Checking...</span></button>
              </div>
            </div>
            
            <div class="row form-group {% if form.cbapikey.errors %}has-error{% endif %}">
              <div class="col-md-8">
                {{ form.cbapikey.label(class="control-label") }}
                <div class="input-group" id="hover-cb-api-key">
                  {{ form.cbapikey(value=appliance.cbapikey, id="coinbase-api-key", placeholder="1bQDVJWdmCmyvx2o", class="form-control") }}
                  <span class="input-group-btn">
                    <button id="toggle-cb-api-secret" class="btn btn-default" type="button">
                      <span title="Show/hide Coinbase API secret." class="glyphicon glyphicon-eye-open"></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>

            <div class="row form-group {% if form.cbapisecret.errors %}has-error{% endif %}" id="form-cb-api-secret">
              <div class="col-md-8">
                {{ form.cbapisecret.label(class="control-label") }}
                <div class="input-group {% if settings['coinbase'] == True %}hide-input{% endif %}" id="hover-cb-api-secret">
                  {{ form.cbapisecret(value=appliance.cbapisecret, id="coinbase-api-secret", placeholder="mvGCqnSP1KWVFOULPGQTthxsFVQOKyP8", class="form-control") }}
                  <span class="input-group-btn">
                    <button id="toggle-cb-api-secret-again" class="btn btn-default" type="button">
                      <span title="Hide the Coinbase API secret." class="glyphicon glyphicon-eye-close"></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            
            <div class="row form-group {% if form.ngroktoken.errors %}has-error{% endif %}">
              <div class="col-md-8">
                {{ form.ngroktoken.label(class="control-label") }}
                <div class="input-group" id="hover-ngrok-token">
                  {{ form.ngroktoken(value=appliance.ngroktoken, id="ngrok-token", placeholder="W7ern1ph6Q_I-95L54", class="form-control") }}
                  <span class="input-group-btn">
                    <button id="get-ngrok-token" class="btn btn-default" type="button"><span class="glyphicon glyphicon-cog"></span></button>
                  </span>            
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label for="servicelocation" class="control-label">Service Location</label>
                <div id='map'></div>
                <div class='map-overlay'>
                  <div class="input-group {% if form.latitude.errors %}has-error{% endif %}">
                    {{ form.latitude.label(class="control-label") }}
                    {{ form.latitude(class="form-control", value=appliance.latitude, size=25) }}
                  </div>
                  <div class="input-group {% if form.longitude.errors %}has-error{% endif %}">
                    {{ form.longitude.label(class="control-label") }}
                    {{ form.longitude(class="form-control", value=appliance.longitude, size=25) }}
                  </div>
                </div>
              </div>
            </div>
            
            <button type="submit" class="btn btn-success">Save Configuration</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $().ready(function() {     
      // the map
      var map = L.mapbox.map('map', 'kordless.gnm28jg1', {scrollWheelZoom: false}).setView([{{ appliance['latitude'] }}, {{ appliance['longitude'] }}], 12);

      // get the form inputs we want to update
      var latitude = document.getElementById('latitude');
      var longitude = document.getElementById('longitude');

      var marker = L.marker([{{ appliance['latitude'] }}, {{ appliance['longitude'] }}], {
        draggable: true
      }).addTo(map);

      // every time the marker is dragged, update the form
      marker.on('dragend', ondragend);

      // set the initial values in the form
      ondragend();
      
      // map dragging
      function ondragend() {
          var ll = marker.getLatLng();
          latitude.value = ll.lat;
          longitude.value = ll.lng;
      }

      {% if settings['token'] %}
        // register button green and disabled
        $('#button-api-token').addClass('btn-success');
        $('#button-api-token-icon').addClass('glyphicon-check');
        $('#button-api-token-text').html('Registered');
        $('#button-api-token').addClass('disabled');
      {% else %}
        // update button to warning and allow register
        $('#button-api-token').addClass('btn-warning');
        $('#button-api-token-icon').addClass('glyphicon-flash');
        $('#button-api-token-text').html('Register API Token');

        // register appliance button + recheck on click
        var ajaxCall = function() {
          $.ajax({
            url: '{{ url_for("api.token_validate") }}',
            success: (function() {
              location.reload();
            })
          });
        };
        $('#button-api-token').click(function() {
          apitoken = $('#api-token').val();
          window.open("{{ config['APP_WEBSITE'] }}"+"/appliances/new/?token="+apitoken,"_blank");
          // start polling for change in button state
          setInterval(ajaxCall, 3000);
        });
      {% endif %}

      // coinbase secret hiding
      if ($("#hover-cb-api-secret").hasClass("hide-input")) {
        $('#form-cb-api-secret').toggle();
      }
      $('#toggle-cb-api-secret').click(function() {
        $('#form-cb-api-secret').toggle();
        $("#hover-cb-api-key").popover('hide');
      });
      $('#toggle-cb-api-secret-again').click(function() {
        $('#form-cb-api-secret').toggle();
        $("#hover-cb-api-key").popover('hide');
      });

      // ngrok link
      $('#get-ngrok-token').click(function() {
        window.open("https://ngrok.com/dashboard","_blank");
      });

      // refresh api token
      $('#refresh-api-token').click(function() {
        $.ajax({
          url: '{{ url_for("api.token_generate") }}',
        }).done(function() {
          location.reload();
        });
      });    
    });
  </script>
{% endblock %}

{% block extras %}
  <script src='/js/popovers.js'></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
{% endblock %}
