{% extends "base.html" %}

{% block page_styles %}
    <!-- Config Page -->
    <link href="/css/configure.css" rel="stylesheet">
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.0-beta0/mapbox.css' rel='stylesheet'>
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container configure-container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Configure</li>
  </ol>
  <ul class="nav nav-tabs">
    <li class="active"><a href="{{ url_for("configure.configure") }}">Appliance</a></li>
    <li><a href="{{ url_for("configure.configure_openstack") }}">OpenStack</a></li>
    <li><a href="{{ url_for("configure.configure_systems") }}">Flavors & Images</a></li>
    <li><a href="{{ url_for("configure.configure_instances") }}">Instance Payments</a></li>
  </ul>
  <div class="page-header">
    <h3>Appliance Configuration</h3>
    <p>Fill out the following form to configure your appliance.  Instructions for the form are available by hovering over the respective fields.</p>
    <p><strong>Service Location:</strong> Use the map below to drag the pin to indicate the geo location of the OpenStack cluster this appliance manages.  If you are unsure of the physical location of the cluster, use the default location obtained from the geo IP lookup.</p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>{{ message }}</strong>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <form action="." method="post" class="form-horizontal" role="form">
    {{ form.csrf_token }}
    <div class="form-group">
      <label for="pamenteaddress" class="col-sm-2 control-label">
        Payment Address
      </label>
      <div class="col-sm-8">
        <div class="input-group">
          {{ form.paymentaddress(class="form-control", id="payment-address", value=appliance.paymentaddress, placeholder="1JT1mQS74Ub8jyxQ81aKEeoyudSRX8RJTA", required=true) }}
          <span class="input-group-btn">
            <button id="get-blockchain-address" class="btn btn-default" type="button"><span class="glyphicon glyphicon-link"></span></button>
          </span>    
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="apitoken" class="col-sm-2 control-label">API Token</label>
      <div class="col-sm-8">
        <div class="input-group" id="api-token-hover">
          {{ form.apitoken(class="form-control", disabled=true, id="api-token", value=appliance.apitoken, required=true) }}
          <input type="hidden" name="api-token-hidden" value="{{ appliance.apitoken }}"/>
          <span class="input-group-btn">
            <button id="refresh-api-token" class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh"></span></button>
          </span>    
        </div>
      </div>
      <div>
        <button id="register-token" class="btn btn-default" type="button"></button>
      </div>
    </div>
    <div class="form-group">
      <label for="ngroktoken" class="col-sm-2 control-label">SSL Tunnel Token</label>
      <div class="col-sm-8">
        <div class="input-group">
          {{ form.ngroktoken(class="form-control", id="ngrok-token", placeholder="W7ern1ph6Q_I-95L54", value=appliance.ngroktoken) }}
          <span class="input-group-btn">
            <button id="get-ngrok-token" class="btn btn-default" type="button"><span class="glyphicon glyphicon-cog"></span></button>
          </span>            
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="apitoken" class="col-sm-2 control-label">Service URL</label>
      <div class="col-sm-8">
        <div class="input-group">
          {{ form.serviceurl(class="form-control", id="service-url", value=appliance.serviceurl, required=true) }}
          <span class="input-group-btn">
            <button id="refresh-service-url" class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh"></span></button>
          </span>
        </div>
        <input type="hidden" name="service-url-hidden" value="{{ appliance.serviceurl }}"/>
      </div>
    </div>
    <div class="form-group">
      <label for="appliancekey" class="col-sm-2 control-label">Service Location</label>
      <div class="col-sm-8">
        <div id='map'></div>
        <div class='map-overlay'>
            <label for='latitude'>latitude</label>
            {{ form.latitude(class="form-control", value=appliance.latitude, size=25, required=true) }}
            <label for='longitude'>longitude</label>
            {{ form.longitude(class="form-control", value=appliance.longitude, size=25, required=true) }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="ngroktoken" class="col-sm-2 control-label"></label>
      <div class="col-sm-8">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save Configuration</button>
      </div>
    </div>
  </form>
  <hr/>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $().ready(function() {      
      // the map
      var map = L.mapbox.map('map', 'xovio.h1o6ii64').setView([{{ appliance['latitude'] }}, {{ appliance['longitude'] }}], 12);

      // get the form inputs we want to update
      var latitude = document.getElementById('latitude');
      var longitude = document.getElementById('longitude');

      var marker = L.marker([{{ appliance['latitude'] }}, {{ appliance['longitude'] }}], {
          draggable: true
      }).addTo(map);

      // every time the marker is dragged, update the form
      marker.on('dragend', ondragend);

      // set the initial values in the form
      ondragend();

      // help popovers
      $("#payment-address").popover({ 
        title: '<strong>Payment Address</strong>', 
        content: "<p>Enter a Bitcoin payment address where you wish to receive Bitcoin payments. This should be an address you have generated with a Bitcoin client or a wallet hosting service. You can use the <span class='glyphicon glyphicon-link'></span> button to signup for a Blockchain account if you don't have a wallet. <strong>Using an address you do not control will result in a loss of funds.</strong></p>", 
        html: true, 
        trigger: "hover",
        placement: "left"
      }).blur(function () {
        $(this).popover('hide');
      });
      $("#api-token-hover").popover({ 
        title: '<strong>API Token</strong>', 
        content: '<p>Click the <span class="glyphicon glyphicon-refresh"></span> button below to generate a new API token.  If the <strong>Register API Token</strong> button is orange, click on it to link the current API token to your {{ config['POOL_NAME'] }} account. Please note you cannot manually enter an API token on this page.</p>', 
        html: true,
        trigger: "hover",
        placement: "left"
      }).blur(function () {
        $(this).popover('hide');
      });
      $("#ngrok-token").popover({ 
        title: '<strong>SSL Tunnel Token</strong>', 
        content: "<p>If this appliance's IP address is not publicly accessable, use the <span class='glyphicon glyphicon-cog'></span> button to access the ngrok.com website to get a token.  If an ngrok.com token is present, a URL will be generated and placed in the <strong>Service URL</strong> field below after you save the configuration.</p>", 
        html: true,
        trigger: "hover",
        placement: "left"
      }).blur(function () {
        $(this).popover('hide');
      });
      $("#service-url").popover({ 
        title: '<strong>Service URL</strong>', 
        content: "<p>If you don't plan on using a SSL tunnel and this VM's IP is publically accessable, you can create a DNS entry in your DNS server and enter the respective URL here. A random URL can be generated by clicking on the <span class='glyphicon glyphicon-refresh'></span> button next to the URL field, at which point you can change the domain name.  If an ngrok token is present, a URL will be generated for you here and should not be modified.</p>", 
        html: true,
        trigger: "hover",
        placement: "left"
      }).blur(function () {
        $(this).popover('hide');
      });

      // check our token
      $.ajax({
        url: '{{ url_for("api.token_validate") }}',
        statusCode: {
          200: function () {
            $('#register-token').addClass('btn-success');
            $('#register-token').html('<span class="glyphicon glyphicon-check"></span> Validated');
            $('#register-token').attr("disabled", "disabled");
          },
          403: function () {
            $('#register-token').html('<span class="glyphicon glyphicon-flash"></span> Register API Token</button>');
            $('#register-token').addClass('btn-warning');
          }
        }
      });
      // map crap
      function ondragend() {
          var ll = marker.getLatLng();
          latitude.value = ll.lat;
          longitude.value = ll.lng;
      }

      $('.btn-toggle').click(function() {
        $(this).find('.btn').toggleClass('active');
        if ($(this).find('.btn-primary').size()>0) {
          $(this).find('.btn').toggleClass('btn-primary');
        }
      });
      $('#register-token').click(function() {
        apitoken = $('#api-token').val();
        window.open("{{ config['APP_WEBSITE'] }}"+"/tokens/register?token="+apitoken);
      });
      $('#get-blockchain-wallet').click(function() {
        window.open("https://blockchain.info/wallet/new");
      });
      $('#get-ngrok-token').click(function() {
        window.open("https://ngrok.com/dashboard");
      });    
      $('#refresh-api-token').click(function() {
        $.ajax({
          url: '{{ url_for("api.token_generate") }}',
        }).done(function() {
          location.reload();
        });
      });
      $('#refresh-service-url').click(function() {
        $.ajax({
          url: '{{ url_for("api.service_url_generate") }}',
        }).done(function() {
          location.reload();
        });
      });       
    });
  </script>
{% endblock %}

{% block extras %}
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.0-beta0/mapbox.js'></script>

{% endblock %}
