{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_styles %}
    <link href="/css/configure.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- set ask rate modal -->
<div id="modal-flavor-set-ask" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Set Ask Price</h4>
      </div>
      <div class="modal-body">
        <p>This appliance is advertising an ask price of <code><span id="modal-appliance-flavor-ask"></span> μBTC/Hour</code> for the <strong><span id="modal-appliance-flavor-name"></span></strong> flavor. For reference, the pool reported an average network rate of <code><span id="modal-pool-flavor-rate"></span> μBTC/Hour</code> less than 15 minutes ago for this flavor.</p>
        <p>Enter an amount below to set a new ask price.</p>
        <div class="row">
          <div class="col-md-5 form-padding" id="askrate-form">
            <input type="hidden" id="modal-flavor-id-input" value="0">
            <input type="hidden" id="modal-flavor-source-input" value="edit">
            <label class="control-label" for="askrate">Ask Price (in μBTC/hour)</label>
            <input length=20 class="form-control" id="modal-flavor-ask-input" name="ask" type="text">
          </div>
        </div>
        <p><strong>Note:</strong> A μBTC is one millionth of a Bitcoin. <code>10 μBTC</code> is  approximately <code>US${{ '%0.4f'| format(quote*10|float) }}</code>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="set-ask-close-button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="set-ask-confirm-button" class="btn btn-danger"></button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    {{ macros.nav_pills("systems", settings) }}
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Flavors & Ask Prices</small></h2>
            <div class="bs-callout bs-callout-info bs-callout-top">
              <h4>About Flavors</h4>
              <p><strong>Flavors</strong> are used by <strong>Appliances</strong> to describe <strong>Instance Type</strong> values for <strong># of Compute Cores</strong>, <strong>Memory</strong>, <strong>Disk</strong> and <strong>Network Speed</strong>.</p>
              <p>You can update the <strong>Ask Price</strong> for a given flavor by clicking on the <span class="glyphicon glyphicon-pencil"></span> icon. Flavors with a <span class="glyphicon glyphicon-ban-circle"></span> under their <strong>Ingress</strong> or <strong>Egress</strong> rates do not have bandwidth limits enabled.</p>
              <p>You can install new flavors by clicking the <strong>Install a New Flavor</strong> button below.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {% if flavors %}
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Flavor</th>
                <th>Memory</th>
                <th>VPUs</th>
                <th>Disk</th>
								<th class="text-center">Ingress</th>
                <th class="text-center">Egress</th>
                <th>Ask Rate</th>
                <th>Serving</th>
              </tr>
            </thead>
            <tbody>
              {% for flavor in flavors %}
              <tr>
                <td>{{ flavor.name }}</td>
                <td>{{ flavor.vpus }} Core{% if flavor.vpus > 1 %}s{% endif %}</td>
                <td>{{ flavor.memory }}MB</td>
                <td>{{ flavor.disk }}GB</td>
                <td class="text-center">{% if flavor.network_down < 1 %}<span class="glyphicon glyphicon-ban-circle"></span>{% else %}{{ flavor.network_down }} Mb/sec{% endif %}</td>
                <td class="text-center">{% if flavor.network_up < 1 %}<span class="glyphicon glyphicon-ban-circle"></span>{% else %}{{ flavor.network_up }} Mb/sec{% endif %}</td>
                <td>{{ flavor.ask }} μBTC/Hour <a id="ask-flavor-{{ flavor.id }}" title="Set ask for {{ flavor.name }}." data-flavor-name="{{ flavor.name }}" data-flavor-ask="{{ flavor.ask }}" data-flavor-rate="{{ flavor.rate }}" href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td>
                  <div class="toggle-modern">
                    <div id="flavor-{{flavor.id}}" data-flavor-ask="{{ flavor.ask }}" class="toggle{% if flavor.active %} enabled{% endif %}"></div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <p><code>10 μBTC = ~US${{ '%0.6f'| format(quote*10|float) }}</code> <a href="https://coinbase.com" target="_blank">via Coinbase</a></p>
          <button id="install_flavors" class="btn btn-success">Install a New Flavor</button>
          {% else %}
          <button id="reload" class="btn btn-danger"><span class="glyphicon glyphicon-time"></span> Please wait while flavors are generated.</button>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- end right side -->
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    var csrf_token = "{{ csrf_token() }}";

    // install button
    $('#install_flavors').click(function() {
      window.location = "{{ url_for('configure.configure_flavors_add') }}";
    });

    // warn about needing some serving
    {% if settings['flavors'] == False %}
      alertify.log("You need a minimum of one flavor enabled to serve instances.", "error");
    {% endif %}

    // toggle function
    function ajax_toggle(url, id) {
      // button state to enabled 
      enabled = $('#'+id).children('.active').length;
      $.ajax({
        url: url,
        type: 'PUT',
        data: {_csrf_token: csrf_token, enable: enabled},
        success: function() {
          var num_enabled = 0;
          $('div[id^="flavor-"]').each(function(){
            flavor_id = this.id.split("-").pop();
            if ($('#flavor-'+flavor_id).children('.active').length) {
              num_enabled = num_enabled + 1;
            }
          });
          if (num_enabled < 1){
            alertify.log("You need a minimum of one flavor enabled to serve instances.", "error");
            $('#flavors-settings').removeClass("hidden");
          } else {
            $('#flavors-settings').addClass("hidden");
          }
        }
      });
    }

    // pencil flavor edits
    $('a[id^="ask-flavor-"]').each(function(index){
      $('#'+this.id).click(function() {
        var flavor_id = this.id.split("-").pop();

        // grab the values from the flavor object
        var ask = $('#'+this.id).attr('data-flavor-ask');
        var rate = $('#'+this.id).attr('data-flavor-rate');
        var name = $('#'+this.id).attr('data-flavor-name');

        // set the modal values
        $('#modal-appliance-flavor-ask').html(ask);
        $('#modal-pool-flavor-rate').html(rate);
        $('#modal-appliance-flavor-name').html(name);
        $('#modal-flavor-id-input').val(flavor_id);
        $('#modal-flavor-ask-input').val(rate);
        
        // show it's coming from the pencil edit
        $('#modal-flavor-source-input').val("edit");
        $('#set-ask-confirm-button').html('Set Ask Price');

        // show the modal
        $('#modal-flavor-set-ask').modal('show');
      });
    });

    // modal submit ask button
    $('#set-ask-confirm-button').click(function() {
      var ask = $('#modal-flavor-ask-input').val();
      var flavor_id = $('#modal-flavor-id-input').val();
      var source = $('#modal-flavor-source-input').val();
      var slider = $('#flavor-'+flavor_id);
      var enabled = $(slider).children('.active').length;

      console.log(ask, flavor_id, source, slider, enabled);

      // disable slider if ask == 0
      if (parseInt(ask) == 0 && source == "slider") {
        $('#modal-flavor-set-ask').modal('hide');
      } else {
        if (parseInt(ask) == 0) {
          enabled = 0;
        }
        $.ajax({
          url: '/configure/flavors/'+flavor_id+'?_csrf_token='+csrf_token,
          type: 'PUT',
          data: {_csrf_token: csrf_token, ask: ask, enable: enabled},
          success: function() {
            // reload the page
            location.reload();
          },
          error: function(jqXHR) {
            console.log(jqXHR);
            // code failed, clear value and alert
            $('#modal-flavor-ask-input').val('');
            $('#askrate-form').addClass('has-error');
            alertify.error("The ask amount you entered is not valid.");
          }
        });
      }
    });

    // deal with slider activty
    $('div[id^="flavor-"]').each(function(index){
      $('#'+this.id).toggles({
        text: {
          on: 'ON',
          off:'OFF',
        },
        on: $(this).hasClass('enabled')
      });
      $('#'+this.id).click(function() {
        var enabled = $('#'+this.id).children('.active').length;
        var ask = $('#'+this.id).attr('data-flavor-ask');
        
        // show ask edit modal if the ask is zero
        if (ask == 0 && enabled == 1) {
          var flavor_id = this.id.split("-").pop();

          // trigger a click on the pencils
          $('#ask-flavor-'+flavor_id).trigger( "click" );
          
          // set the form values
          $('#set-ask-confirm-button').html('Set Ask & Enable Flavor');
          $('#modal-flavor-id-input').val(flavor_id);
          $('#modal-flavor-source-input').val("slider");
        } else {
          // toggle the flavor state on the appliance
          ajax_toggle('/configure/flavors/'+this.id.split("-").pop(), this.id);
        }
      });
    });

    // toggle slider (by clicking) when modal is dismissed
    $('#modal-flavor-set-ask').on('hidden.bs.modal', function () {
      var flavor_id = $('#modal-flavor-id-input').val();
      $('#flavor-'+flavor_id).click();
    });

  });
</script>
{% endblock %}

{% block extras %}
  <script type="text/javascript" src="/js/toggles.js"></script>
  <script type="text/javascript" src="/js/popovers.js"></script>
{% endblock %}
