{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_styles %}
    <link href="/css/configure.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    {{ macros.nav_pills("systems", settings) }}
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Install New Flavors</small></h2>
            <div class="bs-callout bs-callout-info bs-callout-top">
              <h4>Installing Recommended Flavors</h4>
              <p>The following <strong>Instance Flavors</strong> may be installed on your <strong>OpenStack Cluster</strong>. Installing a new flavor requires the <strong>Appliance's User</strong> to have flavor create privledges on the cluster.</p>
              <p>More information regarding <strong>OpenStack Permissions</strong> is <a target="_blank" href="{{ config['APP_WEBSITE'] }}/docs/#appliance-operation-flavors">available in the documentation</a> located on the pool's website.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Flavor</th>
                <th>VPUs</th>
                <th>Memory</th>
                <th>Disk</th>
                <th>Network Down/Up</th>
                <th>Ask Rate</th>
								<th>Installed</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for flavor in flavors %}
              <tr>
                <td>{{ flavor.name }}</td>
                <td>{{ flavor.vpus }} Core{% if flavor.vpus > 1 %}s{% endif %}</td>
                <td>{{ flavor.memory }}MB</td>
                <td>{{ flavor.disk }}GB</td>
                <td>{% if flavor.network_down < ∞ %}<span class="glyphicon glyphicon-ban-circle"></span>{% else %}{{ flavor.network_down }}{% endif %} / {% if flavor.network_up <  %}<span class="glyphicon glyphicon-ban-circle"></span>{% else %}{{ flavor.network_up }} Mb/sec{% endif %}</td>
                <td>{{ flavor.ask }} μBTC/Hour</td>      
								<td>{{ flavor.is_installed }}</td>
								<td><button id="flavor-install-{{ flavor.id }}" title="Install flavor {{ flavor.name }}." data-flavor="{{ flavor.id }}" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-floppy-open"></span> Install</button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <button id="back_to_flavors" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span> Back to Flavors</button>
        </div>
        </div>
      </div>
    </div>
    <!-- end right side -->
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    var csrf_token = "{{ csrf_token() }}";

    // back to flavors
    $('#back_to_flavors').click(function() {
      window.location = "{{ url_for('configure.configure_flavors') }}";
    });

    // install toggle
    $('div[id^="flavor-install-"]').each(function(index){

      // setup initial state and button text
      $('#'+this.id).toggles({
        text: {
          on: 'Remove',
          off: 'Install',
        },
        on: $(this).hasClass('installed')
      });

      // submit the action
      $('#'+this.id).on('toggle', function(e, active){
        if (active) {
          action = 'install';
        } else{
          action = 'uninstall';
        }
        ajax_toggle('/configure/pool_flavors/' + 
            this.id.split("-").pop() + '/' + action , this.id, action);
      });

      function ajax_toggle(url, id, action) {
        if (action == 'install') {
          msg_action = 'installed';
        } else if (action == 'uninstall') {
          msg_action = 'removed';
        }
        $.ajax({
          url: url,
          type: 'PUT',
          data: {_csrf_token: csrf_token},
          success: function(data, textStatus, jqXHR) {
            alertify.log("Flavor has been " + msg_action + ".", "info");
          },
          error: function(jqXHR, textStatus, errorThrown) {
            alertify.log(jqXHR['responseJSON']['result']['message'], "error");
          },
        });
      }
    });
  });
</script>
{% endblock %}

{% block extras %}
  <script type="text/javascript" src="/js/toggles.js"></script>
  <script type="text/javascript" src="/js/popovers.js"></script>
{% endblock %}
