{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_styles %}
    <!-- Config Page -->
    <link href="/css/configure.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    {{ macros.nav_pills("systems", settings) }}
    <!-- form on right side -->
    <div class="col-md-10">
      <!-- form header -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Flavors & Pricing</small></h2>
            <p>Flavors are synced every 15 minutes from the pool operator and are automatically installed on instance start.  You can update this appliance's bid price on flavors by clicking on the flavor's <strong>Name</strong> link.</p>
            <p>You should only enable flavors your OpenStack cluster can support.  You can test support for a given flavor by clicking its <strong>Test Start</strong> button.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>VPUs</th>
                <th>Memory</th>
                <th>Disk</th>
                <th>Network</th>
                <th>Ask Rate</th>
                <th>Action</th>
                <th>Serving</th>
              </tr>
            </thead>
            <tbody>
              {% for flavor in flavors %}
              <tr>
                <td><a href="/configure/flavors/{{flavor.id}}">{{ flavor.name }}</a></td>
                <td>{{ flavor.vpus }} Core{% if flavor.vpus > 1 %}s{% endif %}</td>
                <td>{{ flavor.memory }}MB</td>
                <td>{{ flavor.disk }}GB</td>
                <td>{{ flavor.network }}Mb/sec</td>
                <td>{{ flavor.ask }} μBTC/Hour</td>
		            <td>
		              <button type="button" id="flavor-launch-{{flavor.id}}" class="btn btn-success btn-xs" title="test start" href="#">Test Start</span></button>
		            </td>
		            <td>
		              <div class="toggle-modern">
		                <div id="flavor-{{flavor.id}}" class="toggle{% if flavor.active %} enabled{% endif %}"></div>
		              </div>
		            </td>              
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
      	<div class="col-md-12">
      		<p><code>10 μBTC = ~US${{ '%0.4f'| format(quote*10|float) }}</code> <a href="https://coinbase.com" target="_blank">via Coinbase</a></p>
      	</div>
      </div>
    </div>
    <!-- end right side -->
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/toggles.js"></script>
<script type="text/javascript" src="/js/popovers.js"></script>
<script type="text/javascript">
  $().ready(function() {
    var csrf_token = "{{ csrf_token() }}";

    // warn about needing some serving
    {% if settings['flavors'] == False %}
    alertify.log("You need a minimum of one flavor enabled to serve instances.", "error");
    {% endif %}

    // toggle sliders
    $('div[id^="flavor-"]').each(function(index){
      flavor_id = this.id.split("-").pop();
      $('#flavor-'+flavor_id).toggles({
        text: {
          on: 'ON',
          off:'OFF',
        },
        on: $(this).hasClass('enabled')
      });
      $('#flavor-'+flavor_id).click(function() {
        // button state to enabled 
        enabled = $('#'+this.id).children('.active').length;
        flavor_id = this.id.split("-").pop();
        $.ajax({
          url: '/configure/flavors/'+flavor_id,
          type: 'PUT',
          data: {_csrf_token: csrf_token, enable: enabled},
          success: function() {
            var num_enabled = 0;
            $('div[id^="flavor-"]').each(function(index){
              if ($('#'+this.id).children('.active').length) {
                num_enabled = num_enabled + 1;
              }
            });
            if (num_enabled == 0){
              alertify.log("You need a minimum of one flavor enabled to serve instances.", "error");
              $('#flavors-settings').removeClass("hidden");
            } else {
              $('#flavors-settings').addClass("hidden");
            }
          }
        });
      });
    });

    // flavor buttons
    $('button[id^="flavor-launch-"]').each(function(index){
      $('#'+this.id).click(function() {
        flavor_id = this.id.split("-").pop();
        $.ajax({
          url: '/configure/flavors/'+flavor_id+'?_csrf_token='+csrf_token,
          type: 'POST',
        }).done(function(data) {
         if (data.response.indexOf("fail") >= 0) {
            alertify.log("Could not install flavor.  Check your OpenStack settings!", "error");
            $("#openstack-settings").trigger('mouseenter');
          } else {
            location.reload();
          }
        });
      });
    });

  });
</script>
{% endblock %}

{% block extras %}
{% endblock %}
