{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_styles %}
    <link href="/css/configure.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    {{ macros.nav_pills("systems", settings) }}
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Flavors & Ask Prices</small></h2>
            <div class="bs-callout bs-callout-info bs-callout-top">
              <h4>About Flavors</h4>
              <p><strong>Flavors</strong> are used by <strong>Appliances</strong> to describe <strong>Instance Type</strong> values for <strong># of Compute Cores</strong>, <strong>Memory</strong>, <strong>Disk</strong> and <strong>Network Speed</strong>. You can update this appliance's <strong>Ask Prices</strong> for flavors it advertises via <strong>Instance Asks</strong> by clicking on the <strong>Flavor Name</strong> link.</p>
              <p>Flavors are synced every 15 minutes from the <strong>Pool Operator</strong> and are automatically installed into the <strong>OpenStack Cluster</strong> by the appliance.  You should only enable serving flavors your OpenStack cluster can readily support.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Flavor</th>
                <th>VPUs</th>
                <th>Memory</th>
                <th>Disk</th>
								<th>Network Down/Up</th>
                <th>Ask Rate</th>
                <th>Serving</th>
              </tr>
            </thead>
            <tbody>
              {% for flavor in flavors %}
              <tr>
                <td><a href="/configure/flavors/{{flavor.id}}">{{ flavor.name }}</a></td>
                <td>{{ flavor.vpus }} Core{% if flavor.vpus > 1 %}s{% endif %}</td>
                <td>{{ flavor.memory }}MB</td>
                <td>{{ flavor.disk }}GB</td>
                <td>{% if flavor.network_down < 0 %}Unlimited{% else %}{{ flavor.network_down }}{% endif %} / {% if flavor.network_up < 0 %}Unlimited{% else %}{{ flavor.network_up }} Mb/sec{% endif %}</td>
                <td>{{ flavor.ask }} μBTC/Hour</td>
                <td>
                  <div class="toggle-modern">
                    <div id="flavor-{{flavor.id}}" class="toggle{% if flavor.active %} enabled{% endif %}"></div>
                  </div>
                </td>        
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <p><code>10 μBTC = ~US${{ '%0.6f'| format(quote*10|float) }}</code> <a href="https://coinbase.com" target="_blank">via Coinbase</a></p>
          <button id="install_flavors" class="btn btn-success">Install a New Flavor</button>
        </div>
      </div>
    </div>
    <!-- end right side -->
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    var csrf_token = "{{ csrf_token() }}";

    // install button
    $('#install_flavors').click(function() {
      window.location = "{{ url_for('configure.pool_flavors_get') }}";
    });

    // warn about needing some serving
    {% if settings['flavors'] == False %}
      alertify.log("You need a minimum of one flavor enabled to serve instances.", "error");
    {% endif %}

    // toggle sliders
    $('div[id^="flavor-"]').each(function(index){
      $('#'+this.id).toggles({
        text: {
          on: 'ON',
          off:'OFF',
        },
        on: $(this).hasClass('enabled')
      });
      function ajax_toggle(url, id) {
        // button state to enabled 
        enabled = $('#'+id).children('.active').length;
        $.ajax({
          url: url,
          type: 'PUT',
          data: {_csrf_token: csrf_token, enable: enabled},
          success: function() {
            var num_enabled = 0;
            $('div[id^="flavor-"]').each(function(index){
              if ($('#'+id).children('.active').length) {
                num_enabled = num_enabled + 1;
              }
            });
            if (num_enabled == 0){
              alertify.log("You need a minimum of one flavor enabled to serve instances.", "error");
              $('#flavors-settings').removeClass("hidden");
            } else {
              $('#flavors-settings').addClass("hidden");
            }
          }
        });
      }
      $('#'+this.id).click(function() {
        ajax_toggle('/configure/flavors/'+this.id.split("-").pop(), this.id);
      });
    });

    // flavor buttons
    $('button[id^="flavor-launch-"]').each(function(index){
      $('#'+this.id).click(function() {
        flavor_id = this.id.split("-").pop();
        $.ajax({
          url: '/configure/flavors/'+flavor_id+'?_csrf_token='+csrf_token,
          type: 'POST',
        }).done(function(data) {
         if (data.response.indexOf("error") >= 0) {
            alertify.log("Could not install flavor.  Check your OpenStack settings!", "error");
            $("#openstack-settings").trigger('mouseenter');
          } else {
            location.reload();
          }
        });
      });
    });

  });
</script>
{% endblock %}

{% block extras %}
  <script type="text/javascript" src="/js/toggles.js"></script>
  <script type="text/javascript" src="/js/popovers.js"></script>
{% endblock %}
