{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_styles %}
    <!-- Config Page -->
    <link href="/css/configure.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- set ask rate modal -->
<div id="flavor-set-ask-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Set Ask Price</h4>
      </div>
      <div class="modal-body">
        <p>This appliance is advertising an ask price of <code>{{ flavor.ask }} μBTC/Hour</code> for the <strong>{{ flavor.name }}</strong> flavor. The pool reported an average ask price of <code>{{ flavor.rate }} μBTC/Hour</code> less than 15 minutes ago.</p>
        <p>Enter an amount below and then click on <strong>Set Ask Price</strong> to set it as the new ask price.</p>
        <div class="row">
          <div class="col-md-5 form-padding" id="askrate-form">
            <label class="control-label" for="askrate">Ask Price (in μBTC/hour)</label>
            <input length=20 class="form-control" id="askrate" name="askrate" type="text">
          </div>
        </div>
        <p><strong>Note:</strong> A μBTC is one millionth of a Bitcoin. <code>10 μBTC</code> is  approximately <code>US${{ '%0.4f'| format(quote*10|float) }}</code>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="set-ask-close-button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="set-ask-confirm-button" class="btn btn-danger">Set Ask Price</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    {{ macros.nav_pills("systems", settings) }}
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Flavor Detail for {{ flavor.name }}</small></h2>
            <p>The pool server describes this flavor as having <strong>{{ flavor.description }}</strong>.  To keep your account trust levels high, you should ensure the OpenStack cluster is capable of serving up an instance with these specifications.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>VPUs</th>
                <th>Memory</th>
                <th>Disk</th>
                <th>Network</th>
                <th>Ask Price</th>
                <th>Serving</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ flavor.name }}</td>
                <td>{{ flavor.vpus }} Core{% if flavor.vpus > 1 %}s{% endif %}</td>
                <td>{{ flavor.memory }}MB</td>
                <td>{{ flavor.disk }}GB</td>
                <td>{{ flavor.network }}Mb/sec</td>
                <td>{{ flavor.ask }} μBTC/Hour</td>
                <td>
                  <div class="toggle-modern">
                    <div id="flavor-{{flavor.id}}" class="toggle{% if flavor.active %} enabled{% endif %}"></div>
                  </div>
                </td>              
              </tr>
            </tbody>
          </table>
          <p>The pool reports the last purchase price for this flavor was <code>{{ flavor.rate }} μBTC/Hour</code> which is <code>~US${{ '%0.2f'| format(flavor.rate*quote*720|float) }}/Month</code> via <a href="https://coinbase.com" target="_blank">Coinbase</a>.</p>
          <p><button type="button" id="flavor-set-ask-button" class="btn btn-warning">Set Ask Price</button></p>
        </div>
      </div>
    </div>
    <!-- end right side -->
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    var csrf_token = "{{ csrf_token() }}";

    // warn about needing some serving
    {% if settings['flavors'] == False %}
    alertify.log("You need a minimum of one flavor enabled to serve instances.", "error");
    {% endif %}

    // toggle slider (uses same function as flavor list page)
    $('div[id^="flavor-"]').each(function(index){
      flavor_id = this.id.split("-").pop();
      $('#flavor-'+flavor_id).toggles({
        text: {
          on: 'ON',
          off:'OFF',
        },
        on: $(this).hasClass('enabled')
      });
      $('#flavor-'+flavor_id).click(function() {
        // button state to enabled 
        state = $('#'+this.id).children('.active').length;
        flavor_id = this.id.split("-").pop();
        $.ajax({
          url: '/configure/flavors/'+flavor_id,
          type: 'PUT',
          data: {_csrf_token: csrf_token, enable: state},
        });
      });
    });

    // show set ask rate modal
    $('#flavor-set-ask-button').click(function() {
      $('#flavor-set-ask-modal').modal();
    });

    // when clicking set rate button send rate to server
    $('#set-ask-confirm-button').click(function() {
      $.ajax({
        url: '/configure/flavors/'+{{ flavor.id }}+'?_csrf_token='+csrf_token,
        type: 'PUT',
        data: {_csrf_token: csrf_token, ask: $('#askrate').val()},
        success: function() {
          // reload the page
          location.reload();
        },
        error: function() {
          // code failed, clear value and alert
          $('#askrate').val('');
          $('#askrate-form').addClass('has-error');
          alertify.log("The ask rate is invalid.", "error");
        }
      });
    });

    // handle hitting enter on code input
    $('#askrate').keypress(function (e) {
      if (e.which == 13) {
        console.log("foo");
        $('#set-ask-confirm-button').click();
      }
    });

  });
</script>
{% endblock %}

{% block extras %}
  <script type="text/javascript" src="/js/toggles.js"></script>
{% endblock %}
