{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_styles %}
    <link href="/css/configure.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    {{ macros.nav_pills("images", settings) }}
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>System Images</small></h2>
            <div class="bs-callout bs-callout-info bs-callout-top">
              <h4>About Images</h4>
              <p><strong>Images</strong> are used by <strong>Appliances</strong> to start <strong>Instances</strong>.  Images are synced every 15 minutes from the <strong>Pool Operator</strong> and are automatically installed into the <strong>OpenStack Cluster</strong>. Clicking on the <strong>Image Name</strong> link will allow you to download the original file for inspection.</p>
              <p><strong>Dynamic Images</strong> are downloaded before an instance is started, which can cause additional load on the system.  You can disable advertisments of dynamic image support by setting the slider below to <span class="label label-default">OFF</span>.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {% if images %}
          <table class="table table-hover">
            <thead>
              <tr>
                <th>State</th>
                <th>Image</th>
                <th>Description</th>
                <th>Size</th>
              </tr>
            </thead>
            <tbody>
              {% for image in images %}
              <tr>
                <td>{% if image.active == 1 %}<span title="Using dynamic cloud image." class="glyphicon glyphicon-cloud"></span>{% elif image.active == 2 %}<span title="Local copy downloading." class="glyphicon glyphicon-floppy-save"></span>{% elif image.active == 3 %}<span title="Local copy installed." class="glyphicon glyphicon-floppy-saved"></span>{% else %}<span title="OpenStack having issues with image." class="glyphicon glyphicon-floppy-remove"></span>{% endif %}</td>
                <td><a href="{{ image.url}}">{{ image.name }}</a></td>
                <td>{{ image.description }}</td>
                <td>{{ image.size }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <button id="reload" class="btn btn-danger"><span class="glyphicon glyphicon-time"></span> Please wait while images are loaded.</button>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Dynamic Images</small></h2>
            <p>The appliance is currently <span class="not"><strong>not</strong></span> advertising dynamic images for sale. <span class="not"><strong>Note:</strong> This appliance may still receive dynamic images under certain circumstances.</span></p>
            <div class="toggle-modern">
              <div id="dynamic-images-toggle" class="toggle{% if appliance.dynamicimages %} enabled{% endif %}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end right side -->
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/toggles.js"></script>
<script type="text/javascript" src="/js/popovers.js"></script>
<script type="text/javascript">
  $().ready(function() {
    var csrf_token = "{{ csrf_token() }}";

    //reload
    $('#reload').click(function() {
      location.reload();
    });

    // dynamic images toggle
    $('#dynamic-images-toggle').toggles({
      text: {
        on: 'ON',
        off:'OFF',
      },
      on: $('#dynamic-images-toggle').hasClass('enabled')
    });

    // toggle the message
    if ($('#dynamic-images-toggle').hasClass('enabled')) {
      $('.not').hide();
    }

    $('#dynamic-images-toggle').click(function() {
      // handle slider state and do ajax put
      state = $('#dynamic-images-toggle').children('.active').length;
      if (state == 1) {
        $('.not').hide();
        var state_out = "enabled";
      } else {
        $('.not').show();
        var state_out = "disabled";
      }
      $.ajax({
        url: '/configure/images',
        type: 'PUT',
        data: {_csrf_token: csrf_token, dynamicimages: state},
        success: function() {
          alertify.log("Dynamic images have been "+state_out+".", "success");
        }
      });
    });

  });
</script>
{% endblock %}

{% block extras %}
{% endblock %}
