{% extends "base.html" %}

{% block page_styles %}
    <!-- Config Page -->
    <link href="/css/configure.css" rel="stylesheet">
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.0-beta0/mapbox.css' rel='stylesheet'>
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container configure-container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Configure</li>
  </ol>
  <ul class="nav nav-tabs">
    <li>
      <a href="{{ url_for("configure.configure") }}">
        {% if settings['appliance'] == False %}
          <span id="appliance-settings" class="glyphicon glyphicon-exclamation-sign"></span>
        {% endif %}
        Appliance
      </a>
    </li>
    <li>
      <a href="{{ url_for("configure.configure_openstack") }}"> 
        {% if settings['openstack'] == False %}
          <span id="openstack-settings"class="glyphicon glyphicon-exclamation-sign"></span>
        {% endif %}
        OpenStack
      </a>
    </li>
    <li>
      <a href="{{ url_for("configure.configure_systems") }}">
        {% if settings['systems'] == False %}
          <span id="systems-settings"class="glyphicon glyphicon-exclamation-sign"></span>
        {% endif %}
        Flavors & Images
      </a>
    </li>
    <li class="active"><a href="{{ url_for("configure.configure_instances") }}">Instance Payments</a></li>
  </ul>
  <form action="{{ url_for("configure.configure_instances") }}" method="post" class="form-horizontal" role="form">
  <div class="modal fade" id="create-instance-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Create Instance Address</h4>
        </div>
        <div class="modal-body">
          <div class="modal-instructions">
            <p>Use the form below to create a new instance address.  Name the instance and then choose the flavor and image type to use for starting after payment is received.</p>
          </div>
          {{ form.csrf_token }}
          <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-8">
              {{ form.name(class="form-control", placeholder="Rick and Morty's Server", value="", required=true) }}
            </div>
          </div>
          <div class="form-group">
            <label for="flavor" class="col-sm-3 control-label">Flavor</label>
            <div class="col-sm-8">
              <select name="osflavorid" class="form-control">
                {% for flavor in flavors %}
                  <option value="{{ flavor.osid }}">{{ flavor.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="image" class="col-sm-3 control-label">Image</label>
            <div class="col-sm-8">
              <select name="osimageid" class="form-control">
                {% for image in images %}
                  <option id="{{ image.name }}" name="{{ image.name }}" value="{{ image.osid }}">{{ image.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="instance-create" type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
  </div>
  </form>
  <div>
    <div class="page-header">
      <h3>Instance Addresses</h3>
      <p>An instance address represents a payment destination used for starting a predefined OpenStack instance on this appliance. Bitcoin payments to an instance address are monitored by this appliance via <a href="http://blockchanin.info/">Blockchain.info's</a> API based payment callback service.</p>
      <p>Instance addresses are automatically created on this appliance via callbacks initiated by the the <a href="{{ config['POOL_WEBSITE'] }}">{{ config['POOL_NAME'] }}</a> site.  Instances are not provisioned by this appliance until a payment has been verified as being sent by the end user to a corresponding instance input address below.</p>
      <p>A manual instance address can be created by clicking the <strong>Create Instance Payment</strong> button.  The resulting address can be used for testing purposes, promotion on a third party website or for exchanging compute resources with an untrusted entity.</p>
    <button class="btn btn-default" id="create-instance-button"><span class="glyphicon glyphicon-credit-card"></span> Create Instance Address</button>
    </div>
    <div class="page-header">
      <h3 id="grid">Active Addresses</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Instance ID</th>
          <th>Input Address</th>
          <th class="text-center">Confirms</th>
          <th class="text-center">State</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for instance in instances %}
          <td>{{ instance.id }}</td>
          <td>{{ instance.name }}</td>
          <td>
            {% if instance.osinstanceid %}
              {{ instance.osinstanceid }}
            {% else %}
              None
            {% endif %}
          </td>
          <td>{{ instance.inputaddress }}</td>
          <td class="text-center">{{ instance.confirmations }}</td>
          <td class="text-center">{{ instance.state }}</td>
          <td class="text-center"><button id="instance-detail-{{ instance.id }}" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-qrcode"></span> Detail</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr/>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $().ready(function() {
      var csrf_token = "{{ csrf_token }}";
      // error modal settings link
      $('#create-instance-button').click(function() {
        $('#create-instance-modal').modal('toggle')
      });
    });
  </script>

{% endblock %}

{% block extras %}
    <script src='/js/popovers.js'></script>
{% endblock %}
