{% extends "base.html" %}

{% block page_styles %}
    <!-- Config Page -->
    <link href="/css/configure.css" rel="stylesheet">
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.0-beta0/mapbox.css' rel='stylesheet'>
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container configure-container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Configure</li>
  </ol>
  <ul class="nav nav-tabs">
    <li><a href="{{ url_for("configure.configure") }}">Appliance</a></li>
    <li><a href="{{ url_for("configure.configure_openstack") }}">OpenStack</a></li>
    <li class="active"><a href="{{ url_for("configure.configure_instances") }}">Instances & Flavors</a></li>
    <li><a href="{{ url_for("configure.configure_wallets") }}">Wallets</a></li>
  </ul>
  <div>
    <div class="page-header">
      <h3>Flavors & Images</h3>
      <p>Your appliance needs a minimum of one flavor and one image installed to provide service to users.  Click on the <strong>Install</strong> button next to the entries you want to intsall on your OpenStack cluster.  If you want to delete or pause a particular flavor or image, click on the <strong>Pause</strong> button next to the entry.</p>
      <p><em>Flavor and image types are synced hourly from the pool operator.  You can force a sync by clicking the button below.</em></p>
    <button class="btn btn-default" id="sync-flavors-images"><span class="glyphicon glyphicon-refresh"></span> Sync Flavors & Images</button>
    </div>
    <div class="page-header">
      <h3 id="grid">Instance Flavors {{csrf_token}}</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Comment</th>
          <th># VPUs</th>
          <th>Memory (in MB)</th>
          <th>Disk (in GB)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for flavor in flavors %}
        <tr>
          <td>{{ flavor.id }}</td>
          <td>{{ flavor.name }}</td>
          <td>{{ flavor.comment }}</td>
          <td>{{ flavor.vpu }}</td>
          <td>{{ flavor.mem }}</td>
          <td>{{ flavor.disk }}</td>
          {% if flavor.osid and flavor.active %}
            <td><button id="flavor-install-{{ flavor.id }}" class="btn btn-sm btn-warning pause"><span class="glyphicon glyphicon-pause"></span> Pause</button></td>
          {% elif flavor.osid %}
            <td><button id="flavor-install-{{ flavor.id }}" class="btn btn-sm btn-danger remove"><span class="glyphicon glyphicon-remove"></span> Remove</button></td>
          {% else %}
            <td><button id="flavor-install-{{ flavor.id }}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-cloud-upload"></span> Install</button></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="page-header">
      <h3 id="grid">System Images</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Size (in B)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for image in images %}
        <tr>
          <td>{{ image.id }}</td>
          <td>{{ image.name }}</td>
          <td>{{ image.size }}</td>
          <td><button id="image-install-{{ image.id }}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-cloud-upload"></span> Install</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $().ready(function() {
      var csrf_token = "{{ csrf_token }}";
      // flavor buttons
      $('button[id^="flavor-install-"]').each(function(index){
        $('#'+this.id).click(function() {
          flavor_id = this.id.split("-").pop();          
          if ($('#'+this.id).hasClass("pause")) {
            flavor_state = "pause";
          } else if ($('#'+this.id).hasClass("remove")) {
            flavor_state = "remove";
          } else { 
            flavor_state = "install";
          }
          $.ajax({
            url: '/api/flavors/'+flavor_id+'/'+flavor_state+'/'+'?_csrf_token='+csrf_token,
            type: 'POST',
          }).done(function() {
            location.reload();
          });
        });
      });
      // image buttons
      $('button[id^="image-install-"]').each(function(index, elem){
        $('#'+this.id).click(function() {
          image_id = this.id.split("-").pop();
          $.ajax({
            url: '/api/images/'+image_id+'/install/'+'?_csrf_token='+csrf_token,
            type: 'POST',
          }).done(function() {
            console.log(image_id);
            location.reload();
          });
        });
      });
      // sync from remote pool button
      $('#sync-flavors-images').click(function(){
        console.log("sync");
        $.ajax({
          url: '{{ url_for("api.flavors_sync") }}',
        }).done(function() {
          $.ajax({
            url: '{{ url_for("api.images_sync") }}',
          }).done(function() {
            // location.reload();
          });
        });
      });
    });
  </script>

{% endblock %}

{% block extras %}
{% endblock %}
