{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_styles %}
    <!-- Config Page -->
    <link href="/css/configure.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- set ask rate modal -->
<div id="flavor-set-ask-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Set Instance Ask Price</h4>
      </div>
      <div class="modal-body">
        <p>This appliance is advertising an ask price of <code>{{ instance.flavor.get().ask }} μBTC/Hour</code> for the <strong>{{ instance.flavor.get().name }}</strong> flavor. The pool reported an average ask price of <code>{{ instance.flavor.get().rate }} μBTC/Hour</code> less than 15 minutes ago.</p>
        <p>Enter an amount below and then click on <strong>Set Ask Price</strong> to set it as the new ask price.</p>
        <div class="row">
          <div class="col-md-5 form-padding" id="askrate-form">
            <label class="control-label" for="askrate">Ask Price (in μBTC/hour)</label>
            <input length=20 class="form-control" id="askrate" name="askrate" type="text">
          </div>
        </div>
        <p><strong>Note:</strong> Ask prices take up to 5 minutes to propagate to the pool. {% if instance.state > 1 %}This instance's ask price will not be affected as it was already purchased and started. New instances using the <strong>{{ instance.flavor.get().name }}</strong> flavor will use the new ask price.{% endif %}</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="set-ask-close-button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="set-ask-confirm-button" class="btn btn-danger">Set Ask Price</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    {{ macros.nav_pills("instances", settings) }}
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Instance <strong>{{ instance.name }}</strong></small></h2>
            <div class="row instance-detail-row">
              <div class="col-md-6">
                <div class="text-center"><h3><small>Instance Timer</small></h3></div>
                <div class="text-center">
                  <input id="timer" data-state="{{ instance.state }}" data-expires="{{ instance.expires }}" data-updated="{{ instance.updated }}" data-step="1" data-readOnly=true data-min="0" value="0" data-max="{{ instance.expires - instance.updated }}" data-width="230" data-height="230">
                </div>
                <div class="text-center timer-state">
                  <p>{{ macros.instance_state_icon(instance.state) }}</p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="text-center"><h3><small>Payment Address</small></h3></div>
                <div class="text-center" id="qrcode"></div>
                <div class="text-center" id="address"><a href="https://blockchain.info/address/{{ instance.address }}" target="_blank">{{ instance.address }}</a></div>
              </div>
            </div>

            <div class="row">
              
              <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#instance" data-toggle="tab">Instance</a></li>
                <li><a href="#console" data-toggle="tab">Console Log</a></li>
              </ul>
              
              <div class="tab-content">
                <div class="tab-pane active" id="instance">
                  
                  {% if instance.state > 3 %}
                  <div class="col-md-6">
                    <h3><small>Instance IPs</small></h3>
                    <table class="table table-striped table-responsive">
                      <tr>
                        <td><strong>Public IPv6</strong></td>
                        <td><input id="{% if instance.publicipv6 %}{{ instance.publicipv6 }}{% else %}None{% endif %}" class="ip" value="{% if instance.publicipv6 %}{{ instance.publicipv6 }}{% else %}None{% endif %}"></input></td>
                      </tr>
                      <tr>
                        <td><strong>Public IPv4</strong></td>
                        <td><input id="{% if instance.publicipv4 %}{{ instance.publicipv4 }}{% else %}None{% endif %}" class="ip" value="{% if instance.publicipv4 %}{{ instance.publicipv4 }}{% else %}None{% endif %}"></input></td>
                      </tr>
                      <tr>
                        <td><strong>Private IPv4</strong></td>
                        <td><input id="{% if instance.privateipv4 %}{{ instance.privateipv4 }}{% else %}None{% endif %}" class="ip" value="{% if instance.privateipv4 %}{{ instance.privateipv4 }}{% else %}None{% endif %}"></input></td>
                      </tr>
                    </table>
                  </div>

                  <div class="col-md-6">
                    <h3><small>Instance Resources</small></h3>
                    <table class="table table-striped table-responsive">
                      {% if instance.callback_url %}
                      <tr>
                        <td><strong>Callback URL</strong></td>
                        <td><a href="{{ instance.callback_url }}">{{ instance.callback_url|truncate(32, killwords=True) }}</a></td>
                      </tr>
                      {% endif %}
                      {% if instance.image.url %}
                    <tr>
                      <td><strong>Image URL</strong></td>
                      <td class="text-left"><a href="{{ instance.image.url|safe }}">{{ instance.image.url|safe }}</a></td>
                    </tr>
                    {% endif %}
                    </table>
                  </div>
                  {% endif %}

                  <div class="col-md-6">
                    <div><h3><small>Instance Attributes</small></h3></div>
                    <div>
                      <table class="table table-striped table-responsive">
                        <tr>
                          <td><strong>VPUs</strong></td>
                          <td colspan="2">{{ instance.flavor.vpus }} Core</td>
                        </tr>
                        <tr>
                          <td><strong>Memory</strong></td>
                          <td colspan="2">{{ instance.flavor.memory }}MB</td>
                        </tr>
                        <tr>
                          <td><strong>Disk</strong></td>
                          <td colspan=2>{{ instance.flavor.disk }}GB</td>
                        </tr>
                        <tr>
                          <td><strong>Ingress Rate</strong></td>
                          <td colspan="2">{% if instance.flavor.network_down < 1 %}<span title="Unlimited Bandwidth" class="glyphicon glyphicon-ban-circle"></span>{% else %}{{ instance.flavor.network_down }} Mb/sec{% endif %}</td>
                        </tr>
                        <tr>
                          <td><strong>Egress Rate</strong></td>
                          <td colspan="2">{% if instance.flavor.network_up < 1 %}<span title="Unlimited Bandwidth" class="glyphicon glyphicon-ban-circle"></span>{% else %}{{ instance.flavor.network_up }} Mb/sec{% endif %}</td>
                        </tr>
                        <tr>
                          <td><strong>Ask</strong></td>
                          <td>{{ instance.flavor.ask }} μBTC/Hour</td>
                          <td><a id="edit-ask-icon" href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="console">
                  <pre id="console">{% if instance.console_output %}{{ instance.console_output }}{% else %}Waiting on console log...{% endif %}</pre>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row button-padding">
        <div class="col-md-4">
          <button id="back-to-instances" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span> Back to Instances</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    var csrf_token = "{{ csrf_token() }}";

    // back to instances
    $('#back-to-instances').click( function() {
      window.location = "/configure/instances";
    });

    $('#edit-ask-icon').click(function() {
      $('#flavor-set-ask-modal').modal();
    });

    // timer knob
    $('#timer').knob();
    setInterval(function() {
      var epoch_time = parseInt((new Date).getTime()/1000);
      var expires = parseInt($('#timer').attr('data-expires'));
      var state = parseInt($('#timer').attr('data-state'));
      var timer2 = expires - epoch_time;
      if (timer2 > -1) {
        $('#timer').val(timer2).trigger("change");
      } else {
        $('#timer').val(0).trigger("change");
      }
    }, 1000);

    // when clicking set rate button send rate to server
    $('#set-ask-confirm-button').click(function() {
      $.ajax({
        url: '/configure/flavors/'+{{ instance.flavor.get().id }}+'?_csrf_token='+csrf_token,
        type: 'PUT',
        data: {_csrf_token: csrf_token, ask: $('#askrate').val()},
        success: function() {
          // reload the page
          location.reload();
        },
        error: function() {
          // code failed, clear value and alert
          $('#askrate').val('');
          $('#askrate-form').addClass('has-error');
          alertify.log("The ask rate is invalid.", "error");
        }
      });
    });

    // highlight entire IP for copying
    $(".ip").click(function() {
      var $this = $(this);
      $this.select();
      // Work around Chrome's little problem
      $this.mouseup(function() {
          // Prevent further mouseup intervention
          $this.unbind("mouseup");
          return false;
      });
    });

    // 'disable' deleting IP addresses from input boxes
    $('.ip').on('input', function() {
      var ip = $(this).attr('id');
      $(this).val(ip);
    });

    // build the QR code for the instance address
    var qrcode_string = "bitcoin:{{instance.address}}?amount="+(parseInt({{instance.flavor.ask}})/1000000);
    $('#qrcode').qrcode({text: qrcode_string});
  });
</script>
{% endblock %}

{% block extras %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/jquery.knob.js"></script>
<script type="text/javascript" src='/js/popovers.js'></script>
{% endblock %}
