{% extends "base.html" %}

{% block page_styles %}
    <!-- Config Page -->
    <link href="/css/configure.css" rel="stylesheet">
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.0-beta0/mapbox.css' rel='stylesheet'>
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container configure-container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Configure</li>
  </ol>
  <ul class="nav nav-tabs">
    <li><a href="/configure/">Appliance</a></li>
    <li class="active"><a href="">OpenStack</a></li>
    <li><a href="/configure/instances/">Instances & Flavors</a></li>
  </ul>
  <div class="page-header">
    <h2 id="grid">OpenStack Credentials</h2>
  </div>
  <p>The OpenStack credentials used by this virtual appliance can be imported by uploading your <a href="http://docs.openstack.org/user-guide/content/cli_openrc.html"><strong>OpenStack API RC file</strong></a>. Navigate and login to your OpenStack UI and then click on the <strong>Access and Security</strong> tab to the left under the <strong>Project</strong> tab.  Click on the <strong>API Access</strong> tab at the top and then click on the <strong>Download OpenStack RC File</strong> button at the top right.  Save this file locally, then click on the <strong>Select RC File</strong> button below to upload.</p>
  
  <p><em>Please note you will need to manually set the password below once you have imported the RC file.</em></p>
  
  <form action="." method=post enctype=multipart/form-data>
    {{ form.csrf_token }}
    <div class="fileinput fileinput-new" data-provides="fileinput">
      <span class="btn btn-default btn-file">
        <span class="fileinput-new">Select RC File</span>
        <span class="fileinput-exists">Change</span>
        <input type="file" name="file">
      </span>
      <span class="fileinput-filename"></span>
      <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
    </div>
    <span class="configure-upload"><input class="btn btn-warning" type="submit" value="Upload"></span>
  </form>

  <div class="row configure-errors">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="col-md-4 alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{ message }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  {% endwith %}
  </div>

  <div class="page-header">
    <h3 id="grid">Update Configuration</h3>
  </div>
  <form action="." method="post" class="form-horizontal" role="form">
    {{ form.csrf_token }}
    <div class="form-group">
      <label for="appliancekey" class="col-sm-2 control-label">Auth URL</label>
      <div class="col-sm-6">
        {{ form.authurl(class="form-control", value=openstack.authurl, placeholder="http://10.0.1.100:5000/v2.0", required=true) }}
      </div>
    </div>
    <div class="form-group">
      <label for="appliancekey" class="col-sm-2 control-label">Tenant Name</label>
      <div class="col-sm-6">
        {{ form.tenantname(class="form-control", value=openstack.tenantname, placeholder="StackMonkey", required=true) }}
      </div>
    </div>
    <div class="form-group">
      <label for="appliancekey" class="col-sm-2 control-label">Tenant ID</label>
      <div class="col-sm-6">
        {{ form.tenantid(class="form-control", value=openstack.tenantid, placeholder="78e98e2295344aabb82135d75bbab06e", required=true) }}
      </div>
    </div>
    <div class="form-group">
      <label for="appliancekey" class="col-sm-2 control-label">OpenStack Username</label>
      <div class="col-sm-6">
        {{ form.osusername(class="form-control", value=openstack.osusername, placeholder="monkey", required=true) }}
      </div>
    </div>
    <div class="form-group">
      <label for="appliancekey" class="col-sm-2 control-label">OpenStack Password</label>
      <div class="col-sm-6">
        {{ form.ospassword(class="form-control", value=openstack.ospassword, placeholder="******", required=true) }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save Configuration</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block extras %}
    <script src='/js/fileinput.js'></script>
{% endblock %}
