{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_styles %}
    <link href="/css/configure.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    {{ macros.nav_pills("openstack", settings) }}
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>OpenStack Credentials</small></h2>
            <div class="bs-callout bs-callout-info bs-callout-top">
              <h4>Connecting OpenStack</h4>
              <p>The OpenStack credentials used by this virtual appliance can be imported by uploading your <a href="http://docs.openstack.org/user-guide/content/cli_openrc.html"><strong>OpenStack API RC file</strong></a>. Navigate and login to your <strong>OpenStack Horizon UI</strong> and then click on the <strong>Access and Security</strong> tab to the left under the <strong>Project</strong> tab.  Click on the <strong>API Access</strong> tab at the top and then click on the <strong>Download OpenStack RC File</strong> button at the top right.  Save the file locally.</p>
              <p>Once you have downloaded the RC file locally, import it into the appliance by clicking on the button below or dragging and dropping the file onto the button.  <strong>Please note you will need to manually set the password below once you have imported the RC file</strong>.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- form content -->
      <div class="row">
        <div class="col-md-8">
          <form action="{{ url_for("configure.configure_openstack") }}" class="dropzone" id="DropzoneForm">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <div class="dz-default dz-message"><span class="btn btn-warning">Click or drag here to upload your RC file.</span></div>
            <div class="dz-details" style="width: 0px; height: 0px;"></div>
          </form>
        </div>
      </div>

      <!-- form header -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>OpenStack Configuration</small></h2>
          </div>
        </div>
      </div>

      <!-- form content -->
      <div class="row">
        <div class="col-md-10">
          <form action="{{ url_for("configure.configure_openstack") }}" method="post" class="form-horizontal" role="form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ form.csrf_token }}
            
            <div class="row form-group {% if form.authurl.errors %}has-error{% endif %}">
              <div class="col-md-8">
                {{ form.authurl.label(class="control-label") }}
                {{ form.authurl(class="form-control", id="authurl", value=openstack.authurl, placeholder="http://10.0.1.100:5000/v2.0", required=true) }}
              </div>
            </div>

            <div class="row form-group {% if form.tenantname.errors %}has-error{% endif %}">
              <div class="col-md-8">
                {{ form.tenantname.label(class="control-label") }}
                {{ form.tenantname(class="form-control", value=openstack.tenantname, placeholder="StackMonkey", required=true) }}
              </div>
            </div>

            <div class="row form-group {% if form.tenantid.errors %}has-error{% endif %}">
              <div class="col-md-8">
                {{ form.tenantid.label(class="control-label") }}
                {{ form.tenantid(class="form-control", value=openstack.tenantid, placeholder="78e98e2295344aabb82135d75bbab06e", required=true) }}
              </div>
            </div>

            <div class="row form-group {% if form.osusername.errors %}has-error{% endif %}">
              <div class="col-md-6">
                {{ form.osregion.label(class="control-label") }}
                {{ form.osregion(class="form-control", value=openstack.osregion, placeholder="None", required=false) }}
              </div>
            </div>
            
            <div class="row form-group {% if form.osusername.errors %}has-error{% endif %}">
              <div class="col-md-6">
                {{ form.osusername.label(class="control-label") }}
                {{ form.osusername(class="form-control", value=openstack.osusername, placeholder="monkey", required=true) }}
              </div>
            </div>
            
            <div class="row form-group {% if form.ospassword.errors %}has-error{% endif %}">
              <div class="col-md-6">
                {{ form.ospassword.label(class="control-label") }}
                {{ form.ospassword(class="form-control", value=openstack.ospassword, placeholder="******", required=true) }}
              </div>
            </div>
            
            <div class="row form-group {% if form.authurl.errors %}has-error{% endif %}">
              <div class="col-md-6">
                <button type="submit" class="btn btn-success">Save Configuration</button>
              </div>
            </div>
          
          </form>

        </div>
      </div>

    </div>

  </div>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $().ready(function() {
      Dropzone.options.DropzoneForm = {
        init: function() {
          this.on("success", function(file) { 
            location.reload(); 
          });
        }
      };

      var error = "{{ settings['openstack'] }}";

      if (error == "False") { 
        alertify.log("Could not establish a connection with the OpenStack cluster.  Check your settings!", "error");
      }
    });
  </script>
{% endblock %}

{% block extras %}
  <script src="/js/dropzone.js"></script>
  <script src='/js/popovers.js'></script>
{% endblock %}
