{% extends "base.html" %}

{% block page_styles %}
    <!-- Config Page -->
    <link href="/css/configure.css" rel="stylesheet">
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.0-beta0/mapbox.css' rel='stylesheet'>
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container configure-container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Configure</li>
  </ol>
  <ul class="nav nav-tabs">
    <li><a href="{{ url_for("configure.configure") }}">Appliance</a></li>
    <li><a href="{{ url_for("configure.configure_openstack") }}">OpenStack</a></li>
    <li class="active"><a href="{{ url_for("configure.configure_systems") }}">Flavors & Images</a></li>
    <li><a href="{{ url_for("configure.configure_instances") }}">Instance Payments</a></li>
  </ul>
  <div class="modal fade" id="failure-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">OpenStack Error</h4>
        </div>
        <div class="modal-body">
          <p>An error has occured while talking to the OpenStack cluster.  Please check your OpenStack credentials and try again.  If the problem persists, please open a ticket on the pool provider's website.</p>
          <p><span id="failure-modal-message"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="failure-modal-settings" type="button" class="btn btn-primary">OpenStack Settings</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div>
    <div class="page-header">
      <h3>Flavors & Images</h3>
      <p>Your appliance needs a minimum of one flavor and one image installed to provide service to users.  Click on the <strong>Install</strong> button next to the entries you want to install on your OpenStack cluster.  If you want to delete or pause a particular flavor or image, click on the <strong>Pause</strong> button next to the entry.</p>
      <p><em>Flavor and image types are synced hourly from the pool operator.  You can force a sync by clicking the button below.</em></p>
    <button class="btn btn-default" id="sync-flavors-images"><span class="glyphicon glyphicon-refresh"></span> Sync Flavors & Images</button>
    </div>
    <div class="page-header">
      <h3 id="grid">System Flavors</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Comment</th>
          <th class="text-center"># VPUs</th>
          <th class="text-center">Memory (in MB)</th>
          <th class="text-center">Disk (in GB)</th>
          <th class="text-center">State</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for flavor in flavors %}
          {% if flavor.osid and flavor.active %}
            <tr class="success">
          {% else %}
            <tr>
          {% endif %}
          <td>{{ flavor.id }}</td>
          <td>{{ flavor.name }}</td>
          <td>{{ flavor.comment }}</td>
          <td class="text-center">{{ flavor.vpu }}</td>
          <td class="text-center">{{ flavor.mem }}</td>
          <td class="text-center">{{ flavor.disk }}</td>
          {% if flavor.osid and flavor.active %}
            <td class="text-center"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="text-center"><button id="flavor-install-{{ flavor.id }}" class="btn btn-sm btn-danger remove"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
          {% else %}
            <td class="text-center"><span class="glyphicon glyphicon-remove"></span></td>
            <td class="text-center"><button id="flavor-install-{{ flavor.id }}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-cloud-upload"></span> Install</button></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="page-header">
      <h3 id="grid">System Images</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th class="text-center">Size (in B)</th>
          <th class="text-center">State</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for image in images %}
          {% if image.osid and image.active %}
            <tr class="success">
          {% else %}
            <tr>
          {% endif %}
          <td>{{ image.id }}</td>
          <td>{{ image.name }}</td>
          <td class="text-center">{{ image.size }}</td>
          {% if image.osid and image.active %}
            <td class="text-center"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="text-center"><button id="image-install-{{ image.id }}" class="btn btn-sm btn-danger remove"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
          {% elif image.active %}
            <td class="text-center"><span id="image-loading-{{ image.id }}"><img src="/img/loading.gif"/></span></td>
            <td class="text-center"><button id="image-install-{{ image.id }}" class="btn btn-sm btn-warning" disabled><span class="glyphicon glyphicon-refresh"></span> Install</button></td>
          {% else %}
            <td class="text-center"><span class="glyphicon glyphicon-remove"></span></td>
            <td class="text-center"><button id="image-install-{{ image.id }}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-cloud-upload"></span> Install</button></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $().ready(function() {
      var csrf_token = "{{ csrf_token }}";
      // error modal settings link
      $('#failure-modal-settings').click(function() {
        window.open("{{ url_for("configure.configure_openstack") }}");
      });
      // flavor buttons
      $('button[id^="flavor-install-"]').each(function(index){
        $('#'+this.id).click(function() {
          flavor_id = this.id.split("-").pop();          
          if ($('#'+this.id).hasClass("remove")) {
            flavor_state = "remove";
          } else { 
            flavor_state = "install";
          }
          $.ajax({
            url: '/api/flavors/'+flavor_id+'/'+flavor_state+'/'+'?_csrf_token='+csrf_token,
            type: 'POST',
          }).done(function(data) {
           if (data.response.indexOf("fail") >= 0) {
              $('#failure-modal-message').html("The message from the system was: "+data.response);
              $('#failure-modal').modal('toggle')
            } else {
              location.reload();
            }
          });
        });
      });
      // image buttons
      $('button[id^="image-install-"]').each(function(index){
        $('#'+this.id).click(function() {
          image_id = this.id.split("-").pop();          
          if ($('#'+this.id).hasClass("remove")) {
            image_state = "remove";
          } else { 
            image_state = "install";
          }
          $.ajax({
            url: '/api/images/'+image_id+'/'+image_state+'/'+'?_csrf_token='+csrf_token,
            type: 'POST',
          }).done(function(data) {
            if (data.response.indexOf("fail") >= 0) {
              $('#failure-modal-message').html("The message from the system was: "+data.response);
              $('#failure-modal').modal('toggle')
            } else {
              location.reload();
            }
          });
        });
      });
      // look for loading image for images
      // more hackish bullshit due to glanceclient
      $('span[id^="image-loading-"]').each(function(index){
        image_id = this.id.split("-").pop();
        setInterval(function() {
          $.ajax({
            url: '/api/images/'+image_id+'/detail/',
          }).done(function(data) {
            console.log(data.image.active);
            if (data.image.osid && data.image.active == 2) {
              location.reload();
            }
          });
        }, 3000);
      });
      // sync from remote pool button
      $('#sync-flavors-images').click(function(){
        console.log("sync");
        $.ajax({
          url: '{{ url_for("api.flavors_sync") }}',
        }).done(function() {
          $.ajax({
            url: '{{ url_for("api.images_sync") }}',
          }).done(function(data) {
            console.log(data);
            if (data.response.indexOf("fail") >= 0) {
              {% if config['DEBdUG'] == True %}
                $('#failure-modal-message').html("The message from the system was: "+data.response);
              {% endif %}
              $('#failure-modal').modal('toggle')
            } else {
              location.reload();
            }
          });
        });
      });
    });
  </script>

{% endblock %}

{% block extras %}
{% endblock %}
