html, body {
}
.content {
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: white;
}
.page-header > h1, .page-header > h2 , .page-header {
  margin-top: 0px;
  margin-bottom: 0px;
}
.section-header > h1, .section-header > h2 {
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.form-padding {
  margin-bottom: 20px;
}
.form-buttons {
  margin-left: 30px;
}
#new-group-create-button {
  margin-top: 25px;
}
.steps {
  margin-bottom: 30px;
}
.nav-pills a {
  text-decoration: none;
}
h2 small {
  color: #777;
}
#login-tfa {
  margin-top: 10px;
}
.nav-stacked {
  padding-top: 20px;
}
.qr-code {
  border: 1px solid #444;
}

/* appliance form styles */
#register-api-token {
  margin-top: 27px;
}
#refresh-api-token {
  border-color: #E6E9ED;
  background-color: #E6E9ED;
}
#api-token {
  border: 1px solid #AAB2BC;
}
button#refresh-api-token, 
button#toggle-cb-api-secret, 
button#toggle-cb-api-secret-again, 
button#get-ngrok-token {
  color: #434A54;
}
button#refresh-api-token:hover {
  background-color: white;
}

/* error handling */
.configure-errors {
  margin-left: 0px;
}
.configure-upload {
  margin-left: 8px;
}
.configure-container {
  margin-top: 80px;
  margin-bottom: 40px;
}

.config-input {
  padding-bottom: 20px;
}
.modal-instructions {
  padding-bottom: 20px;
}
.bump {
  top: -10px;
}
.map-overlay {
    position:absolute;
    background: rgba(255, 255, 255, 0.5);
    top:32px;
    right:20px;
    width: 150px;
    padding:5px;
    font-size:11px;
}
.map-overlay input {
    font:inherit;
}
.map-overlay label {
  margin: 0px;
}
#map { 
  position:relative; 
  top:0; 
  bottom:0;
  height: 500px;
  width:100%;
}
span.field-label-warning {
  color: #a94442;
}
div.field-register {
  padding-left: 0px;
}
.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}

/* file upload styles */
.fileinput {
  margin-bottom: 9px;
  display: inline-block;
}
.fileinput .uneditable-input {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}
.fileinput .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}
.fileinput .thumbnail > img {
  max-height: 100%;
}
.fileinput .btn {
  vertical-align: middle;
}
.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}
.fileinput-inline .fileinput-controls {
  display: inline;
}
.fileinput .uneditable-input {
  white-space: normal;
}
.fileinput-new .input-group .btn-file {
  border-radius: 0 4px 4px 0;
}
.fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new .input-group .btn-file.btn-sm {
  border-radius: 0 3px 3px 0;
}
.fileinput-new .input-group .btn-file.btn-lg {
  border-radius: 0 6px 6px 0;
}